/* ����ҳ���� */
/*.layout_post > #post {*/
    /* ���´���͸����Ϊ0.5 ���������޸�*/
    /*background: rgba(255,255,255,.5);
}*/

/* ����ҳ�汳�� */
/*#aside_content .card-widget, #recent-posts > .recent-post-item, .layout_page > div:first-child:not(.recent-posts), .layout_post > #page, .layout_post > #post, .read-mode .layout_post > #post {*/
    /* ���´���͸����Ϊ0.5 */
    /*background: rgba(255,255,255,.5);
}*/



@font-face {
    font-family: 'candy';  
    src: url('/diy-font/candy.ttf');
    font-display: swap;
}

body,
html {
    cursor: url('/pointer/Comix_White_Pointer.cur'),auto !important;
}
/* ��ͣͼƬʱ�����ָ�� */
img {
    cursor: url('/pointer/Comix_White_Link.cur'),auto !important;
}
/* ѡ�����ӱ�ǩʱ�����ָ�� */
a:hover {
    cursor: url('/pointer/Comix_White_Link.cur'),auto;
}
/* ѡ�������ʱ�����ָ�� */
input:hover {
    cursor: url('/pointer/Comix_White_Text.cur'),auto;
}
/* ��ͣ��ťʱ�����ָ�� */
button:hover {
    cursor: url('/pointer/Comix_White_Link.cur'),auto;
}
/* ��ͣ�б���ǩʱ�����ָ�� */
i:hover {
    cursor: url('/pointer/Comix_White_Link.cur'),auto;
}
/* ��ͣҳ�����ӱ�ǩ������ҳ�Żձ꣩ʱ�����ָ�� */
#footer-wrap a:hover {
    cursor: url('/pointer/Comix_White_Link.cur'),auto;
}
/* ��ͣҳ��ʱ�����ָ�� */
#pagination .page-number:hover {
    cursor: url('/pointer/Comix_White_Link.cur'),auto;
}
/* ��ͣ�˵���ʱ�����ָ�� */
#nav .site-page:hover {
    cursor: url('/pointer/Comix_White_Link.cur'),auto;
}



/* ҳ��͸�� */
#footer {
    background: transparent !important;
}
/* ͷͼ͸�� */
#page-header {
    background: transparent !important;
}
    /*top-img��ɫ͸������Ч���Ƴ���������ӣ�������ִ������ȫһͼ�����߱���ͼ�Ա�ɫ���� */
    #page-header.post-bg:before {
        background-color: transparent !important;
    }
/*ҹ��ģʽα�����ֲ�͸��*/
[data-theme="dark"]
#footer::before {
    background: transparent !important;
}

[data-theme="dark"]
#page-header::before {
    background: transparent !important;
}



[data-theme="dark"]
#aside-content .card-widget {
    background: rgba(0, 0, 0, 0.5) !important;
}

[data-theme="dark"]
div#post {
    background: rgba(0, 0, 0, 0.5) !important;
}

[data-theme="dark"]
div#page {
    background: rgba(0, 0, 0, 0.5) !important;
}


[data-theme="dark"]
div#archive{
    background: rgba(0, 0, 0, 0.5) !important;
}

[data-theme="dark"]
div#tag {
    background: rgba(0, 0, 0, 0.5) !important;
}

[data-theme="dark"]
div#category {
    background: rgba(0, 0, 0, 0.5) !important;
}

[data-theme="dark"]
#recent-posts {
    background: rgba(0, 0, 0, 0.5) !important;
}

[data-theme="dark"]
#recent-posts > .recent-post-item {
    background: rgba(0, 0, 0, 0.5) !important;
}




/* ��ҳ���¿�Ƭ */
#recent-posts > .recent-post-item {
    background: transparent;
}
/* ��ҳ������Ƭ */
.card-widget {
    background: rgba(255, 255, 255, 0.7) !important;
}
/* ����ҳ�����ı��� */
div#post {
    background: rgba(255, 255, 255, 0.7);
}
/* ��ҳҳ�� */
div#page {
    background: rgba(255, 255, 255, 0.7);
}
/* �鵵ҳ�� */
div#archive {
    background: rgba(255, 255, 255, 0.7);
}
/* ��ǩҳ�� */
div#tag {
    background: rgba(255, 255, 255, 0.7);
}
/* ����ҳ�� */
div#category {
    background: rgba(255, 255, 255, 0.7);
}



/*10sΪ���ض�����ʱ�䣬1Ϊ���ض����Ĵ�����ease-in-outΪ����Ч��*/
/*#page-header,
#web_bg {
    -webkit-animation: imgblur 10s 1 ease-in-out;
    animation: imgblur 10s 1 ease-in-out;
}

@keyframes imgblur {
    0% {
        filter: blur(5px);
    }

    100% {
        filter: blur(0px);
    }
}*/
/*����ʹ��-webkit�ں˵������ */
/*@-webkit-keyframes imgblur {
    0% {
        -webkit-filter: blur(5px);
    }

    100% {
        -webkit-filter: blur(0px);
    }
}*/